/* General */

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

h1,
h2,
h3 {
	font-family: "Fuzzy Bubbles", cursive;
	font-weight: 700;
}

p {
	font-family: "Fuzzy Bubbles", cursive;
	font-weight: 400;
}

button,
a,
input[type="button"],
input[type="submit"],
label {
	font-family: "Fuzzy Bubbles", cursive;
	font-weight: 400;
	border: none;
	cursor: pointer;
	font-size: 1rem;
	padding: 0.25rem 0;
	border-radius: 4px;
	font-size: 1.1rem;
}
/* Containers */
#register-container {
	display: none;
}

/* Forms */
h1 {
	margin-bottom: 1rem;
	font-size: 2.5rem;
}

.form-container {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
	background-image: linear-gradient(to top, #88d3ce 0%, #6e45e2 100%);
	height: 100vh;
}

.form {
	width: 90%;
	max-width: 500px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 3rem;
	border-radius: 6px;
	box-shadow: 10px 15px 20px rgba(0, 0, 0, 0.3);
	background-color: white;
	transition: 0.3s ease-in-out;
}

.form:hover {
	box-shadow: 10px 15px 20px rgba(0, 0, 0, 0.6);
}

#username,
#password,
#registerUsername,
#registerPassword,
#confirmPassword {
	width: 100%;
	margin-bottom: 1rem;
	padding: 0.5rem;
	border: none;
	border-radius: 6px;
	box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.288);
}

.inner-btn,
.outer-btn {
	margin: 1rem auto;
	width: 50%;
	box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.288);
	transition: 0.3s ease-in-out;
}

.outer-btn {
	margin: 1rem auto;
	width: 90%;
	max-width: 500px;
}
.inner-btn:hover,
.outer-btn:hover {
	box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
	background-color: rgb(207, 207, 207);
	transform: translateY(4px);
}

hr {
	width: 90%;
	max-width: 500px;
	margin: 2rem auto 0;
	border: 1px solid white;
	border-radius: 20px;
}

::placeholder {
	opacity: 0.5;
	font-family: monospace;
}

/* Write a Tale [AnonyMouse] */

.tale-container {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
	background-image: linear-gradient(to bottom, #88d3ce 0%, #6e45e2 100%);
	height: 100vh;
}

#tale-form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 2rem;
	border-radius: 6px;
	box-shadow: 0 15px 25px rgba(0, 0, 0, 0.445);
	background-color: white;
}

#taleTitle,
#anonyMouse,
#tailTale {
	width: 500px;
	margin-bottom: 1rem;
	padding: 0.5rem;
	border: none;
	border-radius: 6px;
	box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.288);
	/* resize: both; */
}

.form-btn {
	width: 40%;
	margin: 0.5rem;
	box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.288);
	transition: 0.3s ease-in-out;
}

.form-btn:hover {
	box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
}

.publish-button {
	display: flex;
	justify-content: center;
	align-items: center;
}

/* New Stored Stories */
